.banner{
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: black;
    color: yellow;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    p{
        display: inline;
        margin: 0;
        --animate-duration: 6s;
    }
    button{
        padding: 2px;
        margin: 0;
    }
}

// MEDIA QUERIES
//MOBILE LAST - MAX WIDTH
//SMALL

@media (max-width: 425px){
    .banner{
        height: 6rem;
    }
}
