.espaciador1 {
  padding: 10vh 0;
  background-color: $primaryColor;
}
.espaciador2 {
  padding: 4vh 0;
  background-color: $primaryColor;
}
.espaciador3{
    padding: 1vh 0;
    background-color: $primaryColor;
}
.espaciador4{
  height: 90px;
  background-color: black;
}
