.footer {
  min-height: 20vh;
  background: linear-gradient(
    137.22deg,
    #293444 0%,
    #afb5b5 47.98%,
    #293444 100%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  .footDer {
    display: flex;
    .info {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .redes{
    text-align: center;
  }
}
.footer i {
  font-size: 1.5rem;
  padding: 0.75rem;
}
.footer i:hover {
  transform: scale(1.2);
  transition: 1s;
}
.footer a:visited {
  text-decoration: none;
  color: black;
}

.endPage {
  background-color: $primaryColor;
  color: $primaryText;
  text-align: center;
}
