.main {
  background-color: $primaryColor;
}

//H2 Y TEXTOS


// MEDIOS DE PAGO 
.rectangulo {
    display: inline-flex;
    height: auto;
    width: 100%;
    margin: 1rem 0;
    padding: 8px 0;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }
  .pagos {
    display: block;
    text-align: center;
  }
  .tarjetas {
    width: auto;
    max-height: 4rem;
    margin: 2px;
    padding: 5px;
    border: 2px solid black;
  }
.botonA{
  background-color: $primaryColor;
  .botonB{    
    background-color: gray;
    padding: 1rem;
    a{
      color: $primaryText;
    }
  }
}