.navbar {
  background: $primaryGradient;
  border-bottom: 0.2rem black solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  a {
    font-family: "Limelight", cursive;
    font-weight: bolder;
  }
  a:hover{    
   background-color: $light;
  }
  .titulo {
    font-size: 40px;   
  }  
  .dropdown-menu {
    background: linear-gradient(
      137.22deg,
      #293444 0%,
      #afb5b5 47.98%,
      #293444 100%
    );
  }
}
