// CARDS INDEX
.cardIndex {
  padding: 0px 2rem;
  // TAMAÑO IMAGENES
  .cardImg {
    height: 240px;
  }
  // CARDS BACKGROUND
  .cardBg {
    background-color: $primaryColor;
    color: $primaryText;
    p {
      color: $secondaryText;
    }
  }
  .cardButton {
    background-color: blue;
    color: white;
  }
}
//CARD LINKS
.cardLink {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
  }
}

//CARD OFERTAS
.row {
  margin: 0px;
  .col {
    .card-title {
      color: $priceText;
    }
  }
}
