//NAVBAR
.navbar {
  li {
    a {
      font-size: 1rem;
      font-family: "Roboto Mono", sans-serif;
    }
  }
}

// TEXTO
h2 {
  font-size: 3rem;
  color: beige;
  font-weight: bold;
}
h3{
  color: beige;
}
.texto {
  text-align: justify;
  color: $primaryText;
}
.textoQ{  
  color: $primaryText;
  font-size: 2rem;
}
// LINKS - ETIQUETA </a>
a {
  text-decoration: none;
}

// FOOTER
.footer {
  h6 {
    font-size: 20px;
    font-family: "Rubik Mono One", sans-serif;
    padding-top: 1rem;
  }
  span {
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
  }
  li {
    font-family: "Roboto Mono", monospace;
    a{
      color: black;
    }
  }
  i{
    color: black;
  }
}
